html, body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
}

* {
    box-sizing: border-box;
}

#container {
    padding-top: 5vh;
    height: 100%;
    width: 100%;
    text-align: center;
}

#container #number-of-cards {
    font-size: 10vh;
    width: 60vw;
    text-align: center;
    padding: 1vh;
}

#container #start {
    width: 60vw;
    padding: 1vh;
    font-size: 5vh;
    margin: 5vh;
}

#container .card {
   display: inline-block;
   width: 5.0em;
   height: 5.0em;
   border: 1px solid #666;
   border-radius: .3em;
   padding: .25em;
   margin: 0 .5em .5em 0;
   text-align: center;
   font-size: 1.2em;
   font-weight: normal;
   font-family: Arial, sans-serif;
   position: relative;
   background-color: #fff;
   box-shadow: .2em .2em .5em #333;
}


#container .card .cardText {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 50px;
    font-weight: bold;
}
